<html>

<body bgcolor=#a3cfb4>

    <center>

        <h1>  PREDICTION :  </h1>
        {% for i in range(0, project_num) %}

         <p>{{data[i][0]}}&nbsp;&nbsp;<a href={{ data[i][2] }}>{{ data[i][1] }}</a></p>
         <h3>goal : {{data[i][4]}} &nbsp;&nbsp;&nbsp;achieve : {{ data[i][3] }}% <br></h3>
         <br>
       {%endfor%}


       <h2> wadiz : {{w_cnt}}<br>tumblbug: {{t_cnt}}</h2>
<!--

-->
        <br><br>
    <a href='/'>go back to home page</a>
    <br>
    <a href='/creatorpage'>go back to creatorpage</a>
    <br>
    <a href='/supporterpage'>go back to supporterpage</a>
    </center>

</body>

</html>
