
<html>
<head>
    <meta http-equiv="page-enter" content="blendTrans(duration=5)">

    <meta http-equiv="Content-Type" content="text/html">
    <title>Cart Page</title>
    <meta charset="UTF-8">
</head>
<body>

<h3>Cart Page</h3>
<table cellpadding="2" cellspacing="2" border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
    </tr>

    {{#Cart}}
        <tr>
            <td>{{Id}}</td>
            <td>{{Name}}</td>
            <td>{{Price}}</td>
        </tr>
    {{/Cart}}
</table>
<br>

</body>
</html>