
<html>
<head>
    <meta http-equiv="page-enter" content="blendTrans(duration=5)">

    <meta http-equiv="Content-Type" content="text/html">
    <title>Cart Page</title>
    <meta charset="UTF-8">
</head>
<body>

<center>
    <br>
<h3>관심 프로젝트 모음</h3>

    <br>
    <table border="1" bordercolor="black" align="center" height="100px">
        <th bgcolor="#e3f2fd">제목</th>
        <th bgcolor="#e3f2fd">사이트명</th>

        {{#Cart}}
            <tr>
                <td ><a href = {{url}}>{{title}}</a></td>
                <td align="center">{{pagename}}</td>
            </tr>
        {{/Cart}}

    </table>

<br>
<br>

    <input type="button"  value="홈으로 가기" style="width: 200px; font-size: large; border:0; outline:0; height: 30px;;background-color: white" onClick="self.location='/'" />
    <input type="button"  value="후원자 페이지로 가기" style="width: 200px; font-size: large; border:0; outline:0; height: 30px;;background-color: white" onClick="self.location='/supporterpage';" />
    <input type="button"  value="창작자 페이지로 가기" style="width: 200px; font-size: large; border:0; outline:0; height: 30px;;background-color: white" onClick="self.location='/creator';" />

</center>
</body>
</html>