<!DOCTYPE html>

<html lang = "en">
<head>

    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>Category Result</title>
    <script type="text/javascript">
        var result = "";
        //var resultArray = [];
        function getCheckboxValue()  {
            const query = 'input[name="chk_info"]:checked';
            const selectedEls =
            document.querySelectorAll(query);
            selectedEls.forEach((el) => {
            result += el.id + ' ';
            });
            result = result + 's' + 'p';
            // 출력

            // document.getElementById('result').innerText = result;
            //resultArray[resultArray.length] = result;
           // resultArray = Arrays.asList(result.split(" "));
            console.log(result)
            // document.getElementById('resultArray').innerText = resultArray;



        }
function clickNext() {
    var sendData = new XMLHttpRequest();
    sendData.onreadystatechange = function () {
        if (sendData.readyState == XMLHttpRequest.DONE) {
            if (sendData.status == 200) {
                document.body.innerText = sendData.responseText;
            } else {
                document.body.innerText = 'Error: ' + sendData.status;
            }
        }
    };
    //var data = 'This is my data';
    sendData.open('POST', '/cart/buy', true);
    sendData.send(result);
}

    </script>
</head>
<body>

<h3 align="center">
    마음에 드는 프로젝트를 찜하려면 체크버튼을 누르세요
</h3>

<center>
    <form method = "post", action="/cart/buy">
        <table border="1" bordercolor="black" align="center" height="300">
            <th bgcolor="#e3f2fd">카테고리</th>
            <th bgcolor="#e3f2fd">제목</th>
            <th bgcolor="#e3f2fd">사이트명</th>
            <th bgcolor="#e3f2fd">좋아요</th>
            {{#categories}}
                <tr>
                    <td align="center">{{category}}</td>
                    <td><a href = {{url}}>{{title}}</a></td>
                    <td align="center">{{pagename}}</td>
                    <td align="center"><input type="checkbox" name="chk_info" id="{{id}}" value ="{{id}}"></td>
                </tr>
            {{/categories}}
        </table>
    </form>

    <br>

    <button class="save"  type="button" style="width: 100px; font-size: large; height: 30px; background-color: white" onClick="getCheckboxValue();clickNext();self.location='/cart/loading';">완료</button>
    <br>

</center>
</body>
</html>

<html>