<!DOCTYPE html>

<html lang = "en">
<head>
    <link rel="stylesheet" src="/css/categorySelect.css" />

    <meta content="text/html">
    <meta charset="UTF-8">
    <title>Category Result</title>

</head>
<body>
<center>
{{#categories}}
    {{category}}
    <br>
{{/categories}}
</center>
</body>
</html>