<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script type="text/javascript">
        function CheckSelect() {
            if (document.getElementById("dropselect").selectedIndex == 0)
            {

                alert("입력값을 선택하시오");
                document.getElementById("dropselect").focus();
            }
            else if(document.getElementById("dropselect").value === "title")
            {
                var element = document.getElementById("titlepage");
                var element2 = document.getElementById("keywordpage");
                if(element.style.display == 'none'){
                    if(element2.style.display='block') element2.style.display='none';
                    element.style.display='block';
                }
                else {
                    if(element2.style.display == 'block') element2.style.display ='none';
                    element.style.display='none';
                }
            }
            else {
                console.log(document.getElementById("dropselect").value);

                var element = document.getElementById("keywordpage");
                var element2 = document.getElementById("titlepage");
                if(element.style.display == 'none'){
                    element.style.display='block';
                    if(element2.style.display='block') element2.style.display='none';
                }
                else {
                    if(element2.style.display='block') element2.style.display='none';
                    element.style.display='none';
                }
            }
        }
    </script>
</head>
<body>
<center>
    <h1> funding creator </h1><br>
    <select id="dropselect">
        <option value="">- 선택 -</option>
        <option value="title">타이틀 입력</option>
        <option value="keyword">키워드 입력</option>
    </select>
    <input type="button" value="확인" onclick="CheckSelect();" />

    <span id="titlepage" style ="display:none">
      <form method="POST", action="/creatortitle">
        <b>
          Category :  <input type="text", name='ca', placeholder="enter 1"> <br><br>
          Title :  <input type="text", name='a', placeholder="enter 1"> <br><br>
        </b>
        <input type="submit" , value='결과 보기' >
      </form>
    </span>

    <div id="keywordpage" style="display:none">
        <form method="POST", action="/creatorkeyword">
            <b> Category :  <input type="text", name='ca', placeholder="category"> <br><br>
                Keyword :  <input type="text", required name='a', placeholder="keyword"> <br><br>
            </b>
            <input type="submit" , value='결과 보기' >
        </form>
    </div>

</center>
</body>
</html>
