<html>

<body bgcolor=#a3cfb4>

<center>

    <h1>  PREDICTION :  </h1>
    {{#test1}}

        <p>{{pagename}}&nbsp;&nbsp;<a href={{ url }}>{{ content }}</a></p>
        <h3>goal : {{goal}} &nbsp;&nbsp;&nbsp;achieve : {{ achieve }}% <br></h3>
        <br>
    {{/test1}}

    <h2> wadiz : {{w_cnt}}<br>tumblbug : {{t_cnt}}</h2>
    <!--    -->
    <br><br>
    <a href='/'>go back to home page</a>
    <br>
    <a href='/creatorpage'>go back to creatorpage</a>
    <br>
    <a href='/supporterpage'>go back to supporterpage</a>
</center>

</body>

</html>