<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<div class="collapse navbar-collapse" id="navbar-collapse2">
    <!--<ul class="nav navbar-nav navbar-right">-->

    {{^sessionedUser}}
        <input type="button" value="로그인" style="width: 100px;border: 0; height: 30px;float:right;font-size: medium;background-color: white" onClick="self.location='login';" />
        &nbsp;&nbsp;&nbsp;
        <input type="button" value="회원가입" style="width: 100px;border: 0;float: right;height: 30px;font-size: medium;background-color: white" onClick="self.location='signUp';" />
    {{/sessionedUser}}
    {{#sessionedUser}}

        <input type="button" value="로그아웃" style="width: 100px;border: 0; float:right; height: 30px;font-size: medium;background-color: white" onClick="self.location='doLogout';" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" value="관심 프로젝트 모음" style="width: 160px; float:right;border: 0; height: 30px;font-size: medium;background-color: white" onClick="self.location='picklistModeSelect';" />
    {{/sessionedUser}}
    <!-- </ul> -->
</div>
<center>
    <h1> CrowdFundingHelper </h1><br>

    <h4>
        CrowdFundingHelper는 후원자, 창작자 입장 모두에게 적합한 방식으로 펀딩 프로젝트를 추천하는 사이트입니다.
    </h4>

    <h4>"후원자" 버튼을 누르면 내가 북마크해둔 프로젝트 기반으로 프로젝트가 추천됩니다.
    </h4>

    <h4>"창작자" 버튼을 누르면 창작할 프로젝트의 제목 또는 키워드 기반으로 프로젝트가 추천됩니다.</h4>
    <br>

    <input type="button" value="후원자" style="width: 100px; height: 50px;font-size: large;background-color: white" onClick="self.location='supporterpage';" />
    &nbsp;&nbsp;&nbsp;
    <input type="button" value="창작자" style="width: 100px; height: 50px;font-size: large;background-color: white" onClick="self.location='creator';" />


</center>
</body>
</html>