<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html">

    <meta charset="UTF-8">
    <title> MY PICKLIST </title>

</head>
<body>

<center>
    <h1> MY PICKLIST </h1><br>

    <form method="POST", action="/picklistResult">
        <input type="submit" name = "supporter" value="후원자" />
        <input type="submit" name = "creator" value="창작자"/>
        <input type="submit" name = "all" value="전체보기" />
    </form>

</center>
</body>
</html>