<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">

    <title>MY PICKLIST</title>

</head>
<body>

<center>
    <h1> MY PICKLIST </h1>

    <table cellpadding="2" cellspacing="2" border="1">

            title / pagename
            <br>
            {{#picklist}}
                <a href = {{url}}>
                    {{title}}
                    {{pagename}}
                </a>
                <br>
            {{/picklist}}

    </table>
    <br>
    <br><br>
    <a href='/'>go back to home page</a>
    <br>
    <a href='/creator'>go back to creator</a>
    <br>
    <a href='/supporterpage'>go back to supporter</a>

</center>
</body>
</html>