<!--
<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
pageEncoding="ISO-8859-1"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
-->
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html">
    <title>Product Page</title>
    <meta charset="UTF-8">

    <script type="text/javascript">
        var result = "";
        //var resultArray = [];
        function getCheckboxValue()  {
            const query = 'input[name="chk_info"]:checked';
            const selectedEls =
            document.querySelectorAll(query);
            selectedEls.forEach((el) => {
            result += el.id + ' ';
            });
            // 출력
            document.getElementById('result').innerText = result;
            //resultArray[resultArray.length] = result;
           // resultArray = Arrays.asList(result.split(" "));
            console.log(result)
            // document.getElementById('resultArray').innerText = resultArray;

            var element = document.getElementById("zzimList");
            if(element.style.display == 'none'){
                    element.style.display='block';
                }



        }
function clickNext() {
    var sendData = new XMLHttpRequest();
    sendData.onreadystatechange = function () {
        if (sendData.readyState == XMLHttpRequest.DONE) {
            if (sendData.status == 200) {
                document.body.innerText = sendData.responseText;
            } else {
                document.body.innerText = 'Error: ' + sendData.status;
            }
        }
    };
    //var data = 'This is my data';
    sendData.open('POST', '/cart/buy', true);
    sendData.send(result);
}
    </script>
</head>
<body>

<h3 align="center">Products Page</h3>

<h3 align="center">찜하려면 체크</h3>
<center>
    <form method="POST", action="/cart/buy">
        <br>

        {{#products}}
            <a href={{url}}>
                {{id}}
                {{title}}
                {{pagename}}
            </a>
                <input type="checkbox" name="chk_info" id="{{id}}" value ="{{id}}">찜하기

                <br>
        {{/products}}
    </form>
    <br>
    <button class="save"  type="button" onClick="getCheckboxValue()">저장</button>
    <br>
    <div id='result' name='result'></div>
    <button type="button" id="zzimList" style ="display:none" onclick="clickNext();self.location='/cart/loading';" >찜 목록 보기</button>
</center>

</div>
</body>
</html>