<html>
<body bgcolor=#d4a3ae>

<center>

    <h1> sign up </h1><br>

    <form method="POST", action="/signUp">
        <b> email :  <input type="text", name='email', placeholder="ex) 123@google.com"> <br><br></b>
        <b> password :  <input type="password", name='pw'> <br><br></b>
        <input type="submit" , value='submit' >
    </form>


</center>

</body>
</html>
