<html lang = "en">
<head>
    <script src="/js/supporter.js" ></script>
    <link rel="stylesheet" src="/css/supporter.css" />
    <meta charset="UTF-8">
    <title>Choose Category</title>
</head>
<body bgcolor=#d4a3ae>

<center>

    <h1> supporter </h1><br>

    <form method="POST", action="/supporterpage">
        <b> user name :  <input type="text", name='a', placeholder="enter 1"> <br><br></b>
        <input type="submit" , value='predict!' >
        <div>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="food" id="imgoption" onclick="ClickImg()">푸드</button>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="onlinegame" id="imgoption" onclick="ClickImg()">온라인게임</button>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="offlinegame" id="imgoption" onclick="ClickImg()">오프라인게임</button>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="publication" id="imgoption" onclick="ClickImg()">출판</button>

            <button type="button" style= "background-color:palegreen" class="btm_image" value="show" id="imgoption" onclick="ClickImg()">공연</button>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="tech" id="imgoption" onclick="ClickImg()">테크</button>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="edu" id="imgoption" onclick="ClickImg()">교육·키즈</button>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="social" id="imgoption" onclick="ClickImg()">소셜·캠페인</button>
        </div>
        <br>
        <div>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="donate" id="imgoption" onclick="ClickImg()">기부·후원</button>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="sports" id="imgoption" onclick="ClickImg()">스포츠·모빌리티</button>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="travel" id="imgoption" onclick="ClickImg()">여행·레저</button>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="hobby" id="imgoption" onclick="ClickImg()">취미</button>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="design" id="imgoption" onclick="ClickImg()">디자인</button>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="homeliving" id="imgoption" onclick="ClickImg()">홈리빙</button>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="pet" id="imgoption" onclick="ClickImg()">반려동물</button>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="beauty" id="imgoption" onclick="ClickImg()">뷰티</button>
        </div>
        <br>
        <div>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="festival" id="imgoption" onclick="ClickImg()">페스티벌</button>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="webtoon" id="imgoption" onclick="ClickImg()">만화</button>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="photo" id="imgoption" onclick="ClickImg()">사진</button>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="movie" id="imgoption" onclick="ClickImg()">영화·비디오</button>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="music" id="imgoption" onclick="ClickImg()">음악</button>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="art" id="imgoption" onclick="ClickImg()">예술</button>
            <button type="button" style= "background-color:palegreen" class="btm_image" value="fashion" id="imgoption" onclick="ClickImg()">패션·잡화</button>
        </div>
    </form>


</center>

</body>
</html>